html {
  font-family: sans-serif;
}

#blog {
  width: 90%;
  height: 20rem;
  border: 1px solid #ccc;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: top;
  text-align: center;
}

form {
  text-align: center;
  margin: rem auto;
}
